body {
  font-family: verdana;
  background: linear-gradient(275deg, teal, darkslateblue);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}
a{
  padding: 10px;
}
.characters> *{
  display: flex;
}

.characterBox{
  border:groove dodgerblue 10px;
  padding: 15px;
  margin: 15px;
}
ul li{
  text-indent: 0;
}
.characterBox:hover {
  transform: scale(1.05);
  background-color: #d5a411;
  transition: transform 0.3s ease, background-color 0.3s ease;
}